<h1> Post Show Page </h1>
<%= @post.title %>
<%= @post.content %><br>

Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger)%><br>

Destination: <%= link_to @post.destination.name, destination_path(@post.destination)%>

Button: <%= #link_to '<button type="button">Like this Post</button>'.html_safe, p %>